$button_width: 60px;
$button_height: 30px;

.wrapper {
    grid-area: header;
    display: inline-block;
    height: 80px;
    background-color: #C8CDD2;
    border-bottom: 1px solid #6f6f6f;
    box-sizing: border-box;
    .items {
        width: 1024px;
        height: inherit;
        position: relative;
        margin: 0 auto;
        .item {
            display: inline-flex;
            padding: 0 20px;
            height: inherit;
            align-items: center;
            font-size: 22px;
            a {
                text-decoration: none;
                color: #202435;
                transition: .1s text-shadow;
                &:hover {
                    text-shadow: 1px 1px 8px #2e344d;
                }
                &.active {
                    color: #40486D;
                }
            }
        }
        .icon {
            background-color:#647387;
            a {
                color: rgb(221, 221, 221);
                &:hover {
                    text-shadow: 1px 1px 5px #d8d8d8;
                }
            }
        }
        .localButton {
            position: absolute;
            right: 30px;
            background-color: #B4B9C3;
            top: 50%;
            transform: translateY(-50%);
            width: $button_width;
            height: $button_height;
            border-radius: 8px;
            cursor: pointer;
            .localEn, .localRu {
                display: inline-flex;
                width: $button_width / 2;
                height: $button_height;
                justify-content: center;
                align-items: center;
                color: #4e4e4e;
                transition: .2s background-color, .2s color;
                &.current {
                    background-color: #647387;
                    color: white;
                }
            }
            .localEn {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            .localRu {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}