$button_width: 60px;
$button_height: 30px;

.wrapper {
    grid-area: header;
    display: inline-block;
    height: 80px;
    background-color: rgb(231, 231, 231);
    border-bottom: 1px solid black;
    .items {
        width: 1024px;
        height: inherit;
        position: relative;
        margin: 0 auto;
        .icon {
            background-color: grey;
        }
        .item {
            display: inline-flex;
            padding: 0 20px;
            height: inherit;
            align-items: center;
            font-size: 22px;
            user-select: none;
            a {
                text-decoration: none;
                color: black;
                transition: .1s color;
                &:hover {
                    color: rgb(87, 87, 87);
                }
                &.active {
                    color: rgb(87, 87, 87);
                }
            }
        }
        .localButton {
            position: absolute;
            right: 30px;
            background-color: #b5b5b5;
            top: 50%;
            transform: translateY(-50%);
            width: $button_width;
            height: $button_height;
            border-radius: 8px;
            user-select: none;
            cursor: pointer;
            .localEn, .localRu {
                display: inline-flex;
                width: $button_width / 2;
                height: $button_height;
                justify-content: center;
                align-items: center;
                color: #4e4e4e;
                transition: .2s background-color, .2s color;
                &.current {
                    background-color: #525252;
                    color: white;
                }
            }
            .localEn {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            .localRu {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}