.wrapper {
    grid-area: footer;
    background-color: #cac7c7;
    height: inherit;
    .content {
        position: relative;
        width: 1024px;
        height: 100%;
        margin: 0 auto;
        .info {
            font-size: 14px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #717171;
        }
        .top {
            position: absolute;
            right: 15px;
            width: 50px;
            top: -60px;
            cursor: pointer;
            transform: scale(1);
            transition: .1s transform;
            border-radius: 50%;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}