.app {
  display: grid;
  position: relative;
  grid-template-areas: 'header' 'content' 'footer';
  grid-template-rows: 80px 1fr 30px;
  user-select: none;
  .content {
    grid-area: content;
    display: inline-block;
    position: relative;
    width: 1024px;
    margin: 0 auto;
    background-color: rgb(214, 214, 214);
  }
}

